<div class="hd">
	<% if action.new? %>
	<h1>New Article</h1>
	<% else %>
	<h1>Edit &rsaquo; <%= @article.title %></h1>
	<% end %>
</div>

<div id="article_editor" class="bd">

<% form_for [:ando, @article], :html => {:class => "clearfix"} do |f| %>

<div class="span-16 first">
	<div class="text_field title">
		<%= f.label :_title, "Title" %>
		<%= f.text_field :_title %>
	</div>
	
	<div id="t_excerpt">
		<a href="#">Edit description&hellip;</a>
		<div class="text_field text excerpt">
			<%= f.label :_excerpt, "Description (optional)" %>
			<%= f.text_area :_excerpt %>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
		$('t_excerpt').down('.text_field').hide()
	</script>

	<div id="editors" class="tabbed">
		<ul class="tabs">
			<li><a href="#body">Body</a></li>
			<li><a href="#extended">Extended</a></li>
		</ul>

		<div id="t_body" class="text_field text">
			<%= f.label :body %>
			<%= f.text_area :body %>
		</div>

		<div id="t_extended" class="text_field text">
			<%= f.label :extended %>
			<%= f.text_area :extended %>
		</div>
	</div>
	
	
</div>

<script type="text/javascript" charset="utf-8">
	Practical.Tabs = Class.create({
		initialize: function(id){
			this.elem   = $(id)
			this.prefix = id
			this.panes  = this.elem.select('div.text_field')
			this.showPane()
			document.observe("anchor:changed", this.onAnchorChanged.bind(this))
		},
		onAnchorChanged: function(event){
			if(this.isActableAnchor(event.memo.to)){
				paneId = event.memo.to.split('/')[1]
				if(pts = this.elem.down('#' + paneId))
					this.showPane(pts)
			}
		},
		showPane: function(pane){
			paneToShow = pane || this.panes[0]
			this.panes.invoke('hide')
			paneToShow.show()
		
			baseId  = paneToShow.id.gsub('t_',"")
			this.selectTab(baseId)
		},
		selectTab: function(id){
			this.elem.select('.tabs a').invoke('removeClassName', 'selected')
			tabLink = this.elem.down('a[href=#' + baseId + ']')
			tabLink.addClassName('selected')
			
			console.log(tabLink)
		},
		isActableAnchor: function(anchor){
			var components = (anchor || "").split("/");
	    	if (components[0] != this.prefix) return false;
	    	if (!$(components[1])) return false;
	    	return true;
		}
	})

	document.observe("dom:loaded", function() {
		new Practical.Tabs('editors')
	})

	$$('.text_field.gl').each(function(e){
		new Practical.GhostLabel(e)
	})
</script>

<div class="span-8 last">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="submit_field clear actions">
	<%= f.submit "Save changes", :disable_with => "Please wait..." %>
</div>

<% end %>

</div>