<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Extended</th>
    <th>Excerpt</th>
    <th>Keywords</th>
    <th>Basename</th>
    <th>Status</th>
    <th>Text filter</th>
    <th>Published at</th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.title %></td>
    <td><%=h article.body %></td>
    <td><%=h article.extended %></td>
    <td><%=h article.excerpt %></td>
    <td><%=h article.keywords %></td>
    <td><%=h article.basename %></td>
    <td><%=h article.status %></td>
    <td><%=h article.text_filter %></td>
    <td><%=h article.published_at %></td>
    <td><%= link_to 'Show', [:admin, article] %></td>
    <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
    <td><%= link_to 'Destroy', [:admin, article], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New article', :action => 'new' %>
