<%- @yui_doc_id = "doc" -%>
<%- content_for :head do -%>
<%= javascript_include_tag "wysihat" %>
<script type="text/javascript" charset="utf-8">
 Event.observe(window, 'load', function() {
	new Ando.InlineEditor('title_editor', {
		previewTextIfBlank: "Untitled Article",
		previewTag: "h1"
	})
	new Ando.InlineEditor('description_editor', {previewTextIfBlank: "Click to add a description"})
	
   // var editor = WysiHat.Editor.attach('article_body');
   // 	editor.setStyle({fontFamily:"Helvetica, Arial", margin:"5px"});
   //    var toolbar = new WysiHat.Toolbar(editor, {buttonSet: WysiHat.Toolbar.ButtonSets.Basic});

	// $('article-editor').observe('submit', function(e){
	// 	e.stop();
	// 	
	// 	new Ajax.Request('/admin/articles',{
	// 		asynchronous:true,
	// 		parameters:Form.serialize('article-editor'),
	// 		requestHeaders: {
	// 			'Accept':'application/json'
	// 		},
	// 		evalJSON: true,
	// 		onSuccess: function(r){
	// 			alert("Succeeded!")
	// 		},
	// 		on406: function(r){
	// 			alert("Errors in submission: " + r)
	// 		}
	// 	})
	// 	
	// 	return false;
	// });
 });
</script>

<style type="text/css" media="screen">
 iframe {
   width: 100%;
	max-width: 600px;
   height: 400px;
   border: 1px solid #d4d4d4;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
 }

 .editor_toolbar {
	overflow: auto;
}

 .editor_toolbar .button {
   float: left;
   margin: 2px 5px;
 }

 .editor_toolbar .selected {
   color: red !important;
 }

 #error {
   font: 18px helvetica, arial, sans-serif;
   color: red;
 }

input.blank {
	color: #d4d4d4;
}

#article_body {
	width: 100%;
	max-width: 600px;
	font-family: 'Panic Sans','Consolas',monospace;
}
</style>
<%- end -%>
<h1 class="ando-page-title"><%= @article.new_record? ? "New" : "Edit" %> article</h1>

<% form_for [:admin, @article], :html => {:id => "article-editor"} do |f| %>

  <%= f.error_messages %>

	<div id="title_editor" class="ando-inline-editor">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div id="description_editor" class="ando-inline-editor">
		<%= f.label :excerpt %>
	   <%= f.text_area :excerpt, :cols => 60, :rows => 2 %>
	</div>
	<div id="body_editor">
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
  
  <!--
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_area :keywords, :cols => 60, :rows => 5 %>
  </p> -->
  <!-- <p>
    <%= f.label :basename %><br />
    <%= f.text_field :basename %>
  </p> -->
  
  <p>
    <%= f.label :status %><br />
	 <%= f.select :status, Postable.aasm_states_for_select %>
  </p>
	<p>
		<%= f.label :published_at %><br />
		<%= f.datetime_select :published_at %>
	</p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%# link_to 'Back', :action => 'index' %>
