<div class="page_header clearfix">
	<h2>
		<%= link_to "Links", {:action => "index"} %> &raquo;
		<%= @link.new_record? ? "New" : "Edit" %> Link
	</h2>

	<% content_tag :ul, :class => "actions nolist" do %>
		<li><%= link_to "Delete this link", {:action => "destroy", :confirm_destroy => true}, :method => :delete, :class => "action new" %></li>
	<% end unless @link.new_record? %>
</div>
<div class="main">
<%= error_messages_for :link %>

<% form_for [:ando, current_blog, @link] do |f| %>

<% fieldset :dl => true do %>
	<%= f.labeled_text_field_with_error :title, :class => "big wide" %>
	<%= f.labeled_text_area_with_error :url, :class => "wide", :cols => 60, :rows => 3, :label => "Link URL" %>
	<%= f.labeled_text_area_with_error :description, :class => "wide", :cols => 60, :rows => 20 %>
<% end %>

<% fieldset :legend => "Item Details", :dl => true do %>
	<%# f.labeled_select :status, %w(draft published) %>
	<%# f.labeled_text_field_with_error :basename %>
	<%= f.labeled_text_area_with_error :tags, :cols => 60, :rows => 5 %>
	<%# f.labeled_text_area_with_error :keywords, :cols => 60, :rows => 5 %>
<% end %>

<div class="form_actions">
	<button class="save_changes">Save changes</button>
</div>

<% end %>
</div>